@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

:root{
    --primary: #c2f84f;
    --primaryshadow: #c2f84f80;
    --secondary: #a7d9a1;
    --accent: #97a68c;
    --text: #272725;
    --textsec: #939393;
    --background: #fafafafa;
    --approved: green;
    --denied: red;
    --shadow: rgba(0, 0, 0, 0.250);
    --fuente: "Lexend Exa", sans-serif;
}

* {
    font-family: var(--fuente);
    margin: 0;
}


.background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    height: 1336px;
    width: 768px;
}

.leftPart{
    width: 463px;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: var(--text);
    height: 550px;
    border-radius: 15px 0px 0px 15px;
}

.leftPart form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.leftPart form input {
    height: 40px;
    width: 300px;
    border-radius: 50px;
    border: none;
    outline-style: none;
    padding: 0 10px;
}

.leftPart button{
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: var(--secondary);
}

.leftPart button a{
    color: var(--text);
    text-decoration: none;
    font-size: medium;
    font-weight: 600;
}

.leftPart #Login {
    font-size: xx-large;
    margin: 0;
}

.leftPart p {
    font-size: small;
}

.leftPart p a{
    margin: 15px;
    color: var(--background);
    text-decoration: none;
}

.leftPart p a:hover{
    color: var(--primary);
}

.rightPart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    height: 550px;
    width: 463px;
    border-radius: 0px 15px 15px 0px;
}

.rightPart img{
    width: 75%;
}

.rightPart img:hover{
    transform: scale(1.1);
}

.error{
    text-align: center;
    width: auto;
    color: var(--primary);
}

@media (min-width:1600px){
    .background{
        width: 1600px;
        height: 500px;
    }
}

@media (max-width:1920px){
    .background{
        width: 1920px;
        height: 900px;
    }
}