:root {
    --primario: #D9D9D9;
    --primarioSecundario: #ECF0F1;
    --primarioOscuro: #282826;
    --secundario: #EA5656;
    --terciario: #110F36;
    --approved: green;
    --denied: red;
    --blanco: #FAFAFA;
    --negro: #000;
    --shadow: rgba(0, 0, 0, 0.500);
    --grey: #909497;
    --fuentePrincipal: "Ubuntu", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    /* width: 100%; */
    position: relative;    
}

.logo {
    width: 100px;
    height: 50px;
}

.BIT {
    position: absolute;
    top: 18px;
    right: 85%;
}

.blob {
    content: '';
    position: fixed;
    z-index: 0;
    background: var(--grey);
    border-radius: 40% 60% 65% 35% / 40% 35% 65% 60%;
    height: 60%;
    width: 60%;
    animation: shaping 5s infinite;
    z-index: -1;
    contain: content;
}

@keyframes shaping {
    0% {
        border-radius: 40% 60% 65% 35% / 40% 35% 65% 60%;
    }

    50% {
        border-radius: 70% 30% 50% 50% / 65% 35% 65% 35%;
    }

    100% {
        border-radius: 40% 60% 65% 35% / 40% 35% 65% 60%;
    }
}

/* .blobs{
    contain: content;
} */

.blob1 {
    top: -200px;
    right: 80%;
}

.blob2 {
    bottom: -200px;
    right: 80%;
}

.blob3 {
    bottom: -200px;
    left: 80%;
}

.blob4 {
    top: -200px;
    left: 80%;
}

.new-pass{
    color: #a8a8a8;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    background-color: #fff;
    width: 90%;
    max-width: 800px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
    padding: 20px;
    height: 500px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: rgb(218, 218, 218);
}

.contenedor-email-pass, .contenedor-nickname-phone-ad {
    display: flex;
    flex-direction: column;
    padding: 15%;
}

i{
    font-size: 100px;
    margin-top: 70px;
}

.sidebar {
    height: 72%;
    width: 230px;
    position: absolute;
    top: 12%;
    right: 0;
    background-color: rgb(112, 112, 134);
    padding-top: 20px;
    margin-right: 50px;
    border-radius: 20px;background: rgb(67, 64, 106);
    background: linear-gradient(180deg, rgba(104, 101, 148, 0.83) 24% 100%);
}
.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: block;
    text-align: end;
    margin: 0 auto;
}

.sidebar h3{
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    margin: 0 auto;;
}
.sidebar a:hover {
    background: linear-gradient(to right, rgba(104, 101, 148, 0.83), #fafafa8a, rgba(104, 101, 148, 0.83));
    background-size: 200% 100%;
    animation: gradient 2s forwards;
}

@keyframes gradient {
    0% {
        background-position: 100% 50%; /* Cambiar de 0% a 100% */
    }
    50% {
        background-position: 0% 100%; /* Cambiar de 100% a 0% */
    }
    100% {
        background-position: 0% 100%;
    } 
}


.contenedor-manage{
    margin-bottom: 100%;
    margin-top: -40px;
    top: 50px;
    height: 130px;
    position: relative;
}


h3{
    margin: 0 auto;
    padding-top: 20px;
    margin-left: 90px;
    width: 50%;
    color: white;
}

.divider {
    border: 1.5px solid #fafafa;
    border-radius: 1.5px;
    margin-bottom: 20px;
    margin-top: -10px;
}


hr{
    margin: 0 auto;
    width: 50%;
    border: 1px solid #ccc;
}

.items-sidebar{
    margin: 0 auto;
    width: 85%;
    border: 1px solid #999999;
}

.contenedor-botones{
    display: flex;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
}


.contenedor-botones button {
    background-color: rgb(255, 83, 83);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}


.contenedor-botones button.cancelar{
    padding: 0px 40px;
}
.contenedor-botones button.save-changes {
    background-color: rgb(11, 30, 82);
}

